:root {
    --fran-green: #21412a;
    --fran-brown: #c1986c;
    --fran-teal: #267d71;
    --fran-blue: #07647d;
    --fran-gold: #f5af50;
    --fran-tan: #fdf0df;
    --fran-red: #8b3a19;
  
    --fran-dark-gray: #232425;
}

html {
	scroll-behavior: smooth;
}

p {
	font-family: 'Montserrat';
	line-height: 1.5em;
}

button {
	outline: none;
	border: none;
	border-radius: 25px;
	background-color: transparent;
}

button a {
	border-radius: 30px;
	font-family: 'Montserrat';
}

a {
	color: var(--fran-blue);
	text-decoration: underline;
	font-family: 'Montserrat';
}

a:hover {
	text-decoration: none;
}
  
.body-dark-mode p,
.body-dark-mode span,
.body-dark-mode li,
.body-dark-mode div {
	color: #baacac;
}
.body-dark-mode a {
	color: var(--fran-brown);
}


/* === BUTTONS =============== */
/* General button */
.root-lowercase-btn {
    color: var(--root-lowercase-btn-color);
    --root-lowercase-btn-color: #2b2b2b;

    font-size: 1em;
    font-family: 'Montserrat';
	font-weight: 600;
	text-align: center;
    text-decoration: none;

    background-color: var(--root-lowercase-btn-background-color);
    --root-lowercase-btn-background-color: #fbb555;
    border: 1px solid transparent;
        border-color: var(--root-lowercase-btn-border-color);
    --root-lowercase-btn-border-color: transparent;

	display: block;
    width: fit-content;
    margin: 10px auto;
    padding: .75em 1em;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.2s;
    
}
.root-lowercase-btn:hover {
    background-color: var(--root-lowercase-btn-background-color-hover);
    --root-lowercase-btn-background-color-hover: #21412a;
    color: var(--root-lowercase-btn-color-hover);
    --root-lowercase-btn-color-hover: white;
    box-shadow: 0 0 5px #fbb5555c;
}

.fran-btn-round-reg,
.fran-btn-round-md,
.fran-btn-round-lg,
.fran-btn-square-reg,
.fran-btn-square-md,
.fran-btn-square-lg {
	margin: 10px auto;
	font-family: 'objektiv-mk3';
	font-weight: 600;
	display: block;
	width: fit-content;
	text-decoration: none;
	cursor: pointer;
	transition: 0.2s;
}

/* Rounded Regular */
.fran-btn-round-reg {
	--fran-btn-round-reg-background-color: var(--fran-green);
	background-color: var(--fran-btn-round-reg-background-color);
	--fran-btn-round-reg-color: white;
	color: var(--fran-btn-round-reg-color);
	border: 1px solid transparent;
	border-radius: 25px;
	--fran-btn-round-reg-border-color: transparent;
	border-color: var(--fran-btn-round-reg-border-color);
	padding: 0.6em 1.4em;
	font-size: 16px;
}
.fran-btn-round-reg:hover {
	--fran-btn-round-reg-background-color-hover: transparent;
	background-color: var(--fran-btn-round-reg-background-color-hover);
	--fran-btn-round-reg-color-hover: var(--fran-green);
	color: var(--fran-btn-round-reg-color-hover);
	--fran-btn-round-reg-border-color-hover: var(--fran-green);
	border-color: var(--fran-btn-round-reg-border-color-hover);
}

/* Rounded Medium */
.fran-btn-round-md {
	--fran-btn-round-md-background-color: var(--fran-green);
	background-color: var(--fran-btn-round-md-background-color);
	--fran-btn-round-md-color: white;
	color: var(--fran-btn-round-md-color);
	border: 1px solid transparent;
	border-radius: 25px;
	--fran-btn-round-md-border-color: transparent;
	border-color: var(--fran-btn-round-md-border-color);
	padding: 0.5em 2em;
	font-size: 20px;
	font-weight: 500;
}
.fran-btn-round-md:hover {
	--fran-btn-round-md-background-color-hover: transparent;
	background-color: var(--fran-btn-round-md-background-color-hover);
	--fran-btn-round-md-color-hover: var(--fran-green);
	color: var(--fran-btn-round-md-color-hover);
	--fran-btn-round-md-border-color-hover: var(--fran-green);
	border-color: var(--fran-btn-round-md-border-color-hover);
}

/* Rounded Large */
.fran-btn-round-lg {
	--fran-btn-round-lg-background-color: var(--fran-green);
	background-color: var(--fran-btn-round-lg-background-color);
	--fran-btn-round-lg-color: white;
	color: var(--fran-btn-round-lg-color);
	border: 1px solid transparent;
	border-radius: 35px;
	--fran-btn-round-lg-border-color: transparent;
	border-color: var(--fran-btn-round-lg-border-color);
	padding: 0.7em 3em;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}
.fran-btn-round-lg:hover {
	--fran-btn-round-lg-background-color-hover: transparent;
	background-color: var(--fran-btn-round-lg-background-color-hover);
	--fran-btn-round-lg-color-hover: var(--fran-green);
	color: var(--fran-btn-round-lg-color-hover);
	--fran-btn-round-lg-border-color-hover: var(--fran-green);
	border-color: var(--fran-btn-round-lg-border-color-hover);
}

/* ====================================== */

/* Square Regular */
.fran-btn-square-reg {
	--fran-btn-square-reg-background-color: var(--fran-green);
	background-color: var(--fran-btn-square-reg-background-color);
	--fran-btn-square-reg-color: white;
	color: var(--fran-btn-square-reg-color);
	border: 1px solid transparent;
	border-radius: 5px;
	--fran-btn-square-reg-border-color: transparent;
	border-color: var(--fran-btn-square-reg-border-color);
	padding: 0.6em 1.4em;
	font-size: 16px;
}
.fran-btn-square-reg:hover {
	--fran-btn-square-reg-background-color-hover: transparent;
	background-color: var(--fran-btn-square-reg-background-color-hover);
	--fran-btn-square-reg-color-hover: var(--fran-green);
	color: var(--fran-btn-square-reg-color-hover);
	--fran-btn-square-reg-border-color-hover: var(--fran-green);
	border-color: var(--fran-btn-square-reg-border-color-hover);
}

/* Square Medium */
.fran-btn-square-md {
	--fran-btn-square-md-background-color: var(--fran-green);
	background-color: var(--fran-btn-square-md-background-color);
	--fran-btn-square-md-color: white;
	color: var(--fran-btn-square-md-color);
	border: 1px solid transparent;
	border-radius: 5px;
	--fran-btn-square-md-border-color: transparent;
	border-color: var(--fran-btn-square-md-border-color);
	padding: 0.5em 2em;
	font-size: 20px;
	font-weight: 500;
}
.fran-btn-square-md:hover {
	--fran-btn-square-md-background-color-hover: transparent;
	background-color: var(--fran-btn-square-md-background-color-hover);
	--fran-btn-square-md-color-hover: var(--fran-green);
	color: var(--fran-btn-square-md-color-hover);
	--fran-btn-square-md-border-color-hover: var(--fran-green);
	border-color: var(--fran-btn-square-md-border-color-hover);
}

/* Square Large */
.fran-btn-square-lg {
	--fran-btn-square-lg-background-color: var(--fran-green);
	background-color: var(--fran-btn-square-lg-background-color);
	--fran-btn-square-lg-color: white;
	color: var(--fran-btn-square-lg-color);
	border: 1px solid transparent;
	border-radius: 5px;
	--fran-btn-square-lg-border-color: transparent;
	border-color: var(--fran-btn-square-lg-border-color);
	padding: 0.7em 3.8em;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
}
.fran-btn-square-lg:hover {
	--fran-btn-square-lg-background-color-hover: transparent;
	background-color: var(--fran-btn-square-lg-background-color-hover);
	--fran-btn-square-lg-color-hover: var(--fran-green);
	color: var(--fran-btn-square-lg-color-hover);
	--fran-btn-square-lg-border-color-hover: var(--fran-green);
	border-color: var(--fran-btn-square-lg-border-color-hover);
}



/* Decorative rectangle button */
.fran-dec-btn-rec {
	width: 100%;
	max-width: 300px;
	margin: auto;
	text-decoration: none;
	cursor: pointer;
	transition: transform 0.2s;
}
.fran-dec-btn-rec .dec-image {
	width: 100%;
	aspect-ratio: 3 / 2;
	background-size: cover;
	background-position: center;
	background-image: url('https://franciscan.edu/wp-content/uploads/2019/02/Campus-Newsfeed-Chapel.jpg');
	border-radius: 10px;
}
.fran-dec-btn-rec p {
	color: black;
	font-weight: 500;
	text-align: center;
	margin-top: 10px;
}
.fran-dec-btn-rec:hover {
	transform: scale(1.05);
}


/* Decorative square button */
.fran-dec-btn-square {
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
	text-decoration: none;
	cursor: pointer;
	transition: transform 0.2s;
}
.fran-dec-btn-square .dec-image {
	width: 100%;
	aspect-ratio: 1 / 1;
	background-size: cover;
	background-position: center;
	background-image: url('https://franciscan.edu/wp-content/uploads/2019/02/Campus-Newsfeed-Chapel.jpg');
	border-radius: 10px;
	box-shadow: 0 3px 7px #00000047;
}
.fran-dec-btn-square p {
	color: black;
	font-weight: 500;
	text-align: center;
	margin-top: 10px;
}
.fran-dec-btn-square:hover {
	transform: scale(1.05);
}


/* Decorative circle button */
.fran-dec-btn-circle {
	width: 100%;
	max-width: 300px;
	margin: auto;
	text-decoration: none;
	cursor: pointer;
	transition: transform 0.2s;
}
.fran-dec-btn-circle .dec-image {
	width: 160px;
	height: 160px;
	margin: auto;
	aspect-ratio: 1 / 1;
	background-size: cover;
	background-position: center;
	background-image: url('https://franciscan.edu/wp-content/uploads/2019/02/Campus-Newsfeed-Chapel.jpg');
	border-radius: 50%;
}
.fran-dec-btn-circle p {
	color: black;
	font-weight: 500;
	text-align: center;
	margin-top: 10px;
}
.fran-dec-btn-circle:hover {
	transform: scale(1.05);
}

@media only screen and (max-width: 767px) {

	.fran-dec-btn-rec.mobile-collapse-btn .dec-image,
	.fran-dec-btn-square.mobile-collapse-btn .dec-image,
	.fran-dec-btn-circle.mobile-collapse-btn .dec-image, 
	.fran-dec-btn-rec.mobile-collapse-btn-border .dec-image,
	.fran-dec-btn-square.mobile-collapse-btn-border .dec-image,
	.fran-dec-btn-circle.mobile-collapse-btn-border .dec-image {
		display: none;
	}

	.fran-dec-btn-rec.mobile-collapse-btn p,
	.fran-dec-btn-square.mobile-collapse-btn p,
	.fran-dec-btn-circle.mobile-collapse-btn p,
	.fran-dec-btn-rec.mobile-collapse-btn-border p,
	.fran-dec-btn-square.mobile-collapse-btn-border p,
	.fran-dec-btn-circle.mobile-collapse-btn-border p {
		padding: 20px 0;
	}

	.fran-dec-btn-rec.mobile-collapse-btn-border p,
	.fran-dec-btn-square.mobile-collapse-btn-border p,
	.fran-dec-btn-circle.mobile-collapse-btn-border p {
		border-bottom: 1px solid black;
		margin: 0;
	}

	.fran-dec-btn-rec.mobile-collapse-btn,
	.fran-dec-btn-square.mobile-collapse-btn,
	.fran-dec-btn-circle.mobile-collapse-btn,
	.fran-dec-btn-rec.mobile-collapse-btn-border,
	.fran-dec-btn-square.mobile-collapse-btn-border,
	.fran-dec-btn-circle.mobile-collapse-btn-border {
		max-width: 100%;
	}

	.btn-row .fran-dec-btn-rec.mobile-collapse-btn-border:first-child {
		border-top: 1px solid black;
	}

}



/* === HEROES =============== */
/* Standard Hero */
.standard-hero {
    background-image: url('https://franciscan.edu/wp-content/uploads/2025/01/Two-Students-Study-at-Sunset.jpg');
    min-height: 30vh;
    background-size: cover;
    background-color: #e7e7e7;
    background-position-y: 48%;
    background-position: center;
}
.standard-hero-gradient {
    width: 100%;
    height: 100%;
    min-height: 40vh;
    background: linear-gradient(180deg, rgba(102, 102, 102, 0.55) 0%, rgba(0, 0, 0, 0.55) 55%);
    display: flex;
    padding-top: 2em;
    padding-bottom: 2em;
}
.standard-hero h1 {
    color: white;
    font-family: 'bennet-banner', sans-serif;
    font-size: 2.5em;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 8px;
}
.standard-hero .header-tagline {
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-family: 'objektiv-mk3';
    margin-top: 8px;
}
.standard-hero .btn-row {
    justify-content: center;
}
.standard-hero .btn-row .root-lowercase-btn {
    background-color: transparent;
    color: white;
    border-color: white;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0.8em 3.4em;
}
.standard-hero .btn-row .root-lowercase-btn:hover {
    color: white;
    background-color: var(--fran-blue);
    border-color: var(--fran-blue);
}






/* === Fran Dropdown CSS ==== */
.fran-dd {
	border-left: 4px solid var(--fran-gold);
	width: 100%;
	margin: 15px 0;
	padding-left: 10px;
}
.fran-dd .fran-question-box {
	display: flex;
	display: -ms-flexbox;
	cursor: pointer;
}
.fran-dd .fran-question-icon {
	width: 50px;
	flex: 0 0 50px;
}
.fran-dd .fran-question {
	flex: 1;
	font-family: 'objektiv-mk3';
	font-size: 1.1em;
	letter-spacing: 0.01em;
	margin-top: 1.2em;
}
.fran-dd .fran-answer {
	height: 0;
	overflow: hidden;
	transition: 0.2s;
}
.fran-dd .fran-answer-wrap {
	display: flex;
	display: -ms-flexbox;
	flex-direction: column;
	padding-bottom: 2em;
}
.fran-dd .fran-answer ul {
	padding-top: 0;
	margin: 0;
}
.fran-dd .fran-question-icon i {
	transition: 0.2s;
}






/* === Fran Schedule ==== */
.fran-schedule .fran-tab-group {
	width: 100%;
}
.fran-schedule .fran-tab-group ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
}
.fran-schedule .fran-tab-group .fran-tab {
	background-color: var(--fran-blue);
	color: white;
	padding: 0.9em 1em;
	font-size: 1em;
	font-weight: 500;
	font-family: 'objektiv-mk3';
	border-radius: 0;
	margin: 3px;
	cursor: pointer;
	transition: 0.2s;
}
.fran-schedule .fran-tab-group button:hover {
	background-color: var(--fran-teal);
}
.fran-schedule .fran-tab-group .fran-tab-active {
	background-color: var(--fran-teal);
}

.fran-schedule .program-section-row {
	max-width: 650px;
	margin: auto;
}
.fran-schedule .event-box {
	border-left: 5px solid var(--fran-gold);
	padding-left: 1em;
	margin-top: 2.5em;
}
.fran-schedule .event-box .event-time {
	font-weight: 600;
	font-size: 1.4em;
	margin-bottom: 0;
}
.fran-schedule .event-box .event-desc {
	font-size: 1.1em;
	margin-top: 5px;
	margin-bottom: 0;
}

.program-section-panel {
	display: none;
}
.program-section-panel-active {
	display: block;
}